# List

In [1]:
fruits = ["Apple","orange","Banana","peach","greap"]
fruits[1]

'orange'

In [3]:
fruits[3]

'peach'

In [4]:
l=[3,4,5,6,7,8]
len(l)

6

In [9]:
i = 1

l =[1,2,4,6,8]
l[i] = 99
print(l)

[1, 99, 4, 6, 8]

In [10]:
a = [3,4,6,8]
a[1] = 9
print(a)

[3, 9, 6, 8]

In [20]:
l = [6,4,2,6,9,1,4]
l.append(99)
print(l)

[6, 4, 2, 6, 9, 1, 4, 99]

In [21]:
l.insert(3,99)

In [22]:
print(l)

[6, 4, 2, 99, 6, 9, 1, 4, 99]

In [26]:
remove =l.pop()
print('elements removed:')
print(l)

elements removed: remove
[6, 4, 2, 99, 6, 9]

In [27]:
remove =l.pop(1)
print('elements removed:')
print(l)

elements removed:
[6, 2, 99, 6, 9]

In [30]:
l.remove(6)

In [31]:
l

[2, 99, 6, 9]

In [52]:
i =0
l = [6,3,6,84,24,21]
while( i < len(l)):
    print(l[i])
    i +=1

6
3
6
84
24
21

In [53]:
l = [6,4,5,8,2]
for x in l:
    print(x)

6
4
5
8
2

In [54]:
a = ['madan','maram','dcpl']
for i in a:
    print(i)

madan
maram
dcpl

In [60]:
#find biggestelement in a list
a = [2,5,8,11,44,77,99,44,34,67,54]
a1=max(a)

a1

99

In [61]:
a.sort()

In [62]:
a

[2, 5, 8, 11, 34, 44, 44, 54, 67, 77, 99]

In [65]:
l = [6,4,7,8]
for x in l:
    x = x*x
print(l)

[6, 4, 7, 8]

In [67]:
#enmerate adds a sequence number starts from zero
fruits = ["Apple","orange","Banana","peach","greap"]
for fruit in enumerate(fruits):
    print(fruit)

(0, 'Apple')
(1, 'orange')
(2, 'Banana')
(3, 'peach')
(4, 'greap')

In [71]:
l = [6,2,79,4,3]
for  i, x in enumerate(l):
    l[i]=x*x
print(l)

[36, 4, 6241, 16, 9]

In [72]:
l = [3,4,6]
print(l*3)

[3, 4, 6, 3, 4, 6, 3, 4, 6]

In [80]:
#list functions: searchig for an element:the 'in operator'
a = [2,5,6,7,5,3]
x =7
x in a:

SyntaxError: invalid syntax (<ipython-input-80-90463fbf61fd>, line 4)

In [1]:
a = list([2,4,6])
a.append(8)
print(a)

[2, 4, 6, 8]

In [2]:
a.pop()

8

In [3]:
a.pop(0)

2

In [5]:
b = list([1,3,5])
c = list([2,4,8])
b.extend(c)
print(b)

[1, 3, 5, 2, 4, 8]

In [6]:
b.pop()

8

In [8]:
b.pop(1)

3

In [9]:
b = list([1,3,5])
c = list([2,4,8])
c.append(b)
print(c)

[2, 4, 8, [1, 3, 5]]

In [11]:
c.index(2)

0

In [14]:
b.reverse()
print(b)

[5, 3, 1]

In [21]:
b=[45,6,89,8]
b.sort()
print(b)

[6, 8, 45, 89]

In [22]:
b=[45,6,89,8]
b.sort(reverse=True)
print(b)

[89, 45, 8, 6]

In [25]:
#unpacking
#unpacking is the process of extracting values from a sequence
l=[2,3,4]
x,y,z=l
print("x:{} y:{} z:{}".format(x,y,z))b=[45,6,89,8]
b.sort()
print(b)

x:2 y:3 z:4

In [28]:
#list comprehensions
[i for i in range(10) if i % 2 ==0]

[0, 2, 4, 6, 8]

In [39]:
#list comprehensions
even = []
for i in range(10):
    if i% 2 ==0:
        even.append(i)

even

[0, 2, 4, 6, 8]

# Tuple

In [2]:
l = [1,44,7,8]
l[2] = 3
print(l)

[1, 44, 3, 8]

In [3]:
#we canot do modifications on list
t = (1,2,3,4,56)
t[3] = 22
print(t)

TypeError: 'tuple' object does not support item assignment

In [4]:
x = (3)
y = (3,)
print(x*3)
print(y*3)
print(type(x))
print(type(y))

9
(3, 3, 3)
<class 'int'>
<class 'tuple'>

In [5]:
l=[9,7,5,3]
t=(8,6,4,2)
print(type(l))
print(type(t))

<class 'list'>
<class 'tuple'>

In [6]:
print(l[3])
print(t[3])

3
2

In [8]:
t=(8,6,4,2,4,6)
for i in t:
    print(i)

8
6
4
2
4
6

In [13]:
t = (1,2,3)
x,y,z=t
print(("x:{},y:{},z:{}").format(x,y,z))

x:1,y:2,z:3

In [20]:
x = 30
y =40
x, y= y,x
print("x:{},y:{}".format(x,y))

x:40,y:30

In [21]:
l = [1,5,7,8,7]
t=(2,5,7,854,3)
s = "guntur"

In [22]:
print(len(l),len(t),len(s))

5 5 6

In [25]:
print(sorted(s))
print(sorted(t))

['g', 'n', 'r', 't', 'u', 'u']
[2, 3, 5, 7, 854]

In [28]:
l.sort()
print(l)

[1, 5, 7, 7, 8]

In [29]:
print(max(l))
print(max(t))
print(max(s))

8
854
u

In [32]:
print(sum(l))
print(min(s))

28
g

In [33]:
print(abs(-2))

2

In [40]:
print(chr(65))
print(chr(90))
print(chr(97))
print(chr(122))

A
Z
a
z

In [46]:
print(ord('A'))
print(ord('Z'))
print(ord('a'))
print(ord('z'))

65
90
97
122

In [49]:
boys = [
    (625,'raj',543,33),
    (562,'tej',455,44),
    (6545,'god',567,94),
    (238,'bad',543,32)
]
rec = sorted(boys)   #by default sort method takes first value of each tuple
for i in rec:
    print(i)

(238, 'bad', 543, 32)
(562, 'tej', 455, 44)
(625, 'raj', 543, 33)
(6545, 'god', 567, 94)

In [73]:
boys = [
    (625,'raj',543,33),
    (562,'tej',455,44),
    (6545,'god',567,94),
    (238,'bad',543,32)
]
rec = sorted(boys, key = lambda x:x[2])#x[2] means, taking thrid item in the list as comparision criteria
for i in rec:
    print(i)

(562, 'tej', 455, 44)
(625, 'raj', 543, 33)
(238, 'bad', 543, 32)
(6545, 'god', 567, 94)

In [50]:
#lambda parameters: expression
f = lambda x, y:x+y
print(f(3,7))

10

In [62]:
(lambda x:x*2)(2)

4

In [69]:
key = lambda x :x[0]
t1 =(1235,'sam',4562,345)
t2 =(1236,'vic',2454,653)
print(key(t1) < key(t2))

True

In [67]:
#x[2] means, taking thrid item in the list as comparision criteria
key = lambda x :x[2]
t1 =(1235,'sam',4562,345)
t2 =(1236,'vic',2454,653)
print(key(t1) < key(t2))

False

# SET

In [6]:
s = {2,1,3,4,1,2,6,3}
print(s)
print(type(s))

{1, 2, 3, 4, 6}
<class 'set'>

In [4]:
s = set()
print(s)
print(type(s))

set()
<class 'set'>

In [8]:
s={}
print(type(s))

<class 'dict'>

In [9]:
l = [2,6,3,5,6,7,2,4,7,6,5]
s = set(l)
print(s)

{2, 3, 4, 5, 6, 7}

In [11]:
s = {3,5,6,7,2,4,7,6,5}
print(s)

{2, 3, 4, 5, 6, 7}

In [12]:
s = {'apple','banana','grape','orange','banana','apple'}
print(s)

{'orange', 'banana', 'apple', 'grape'}

In [14]:
s = {2.3,4.6,3.2,2.3,5.3}
print(s)

{2.3, 3.2, 4.6, 5.3}

In [15]:
s={2,5}
s.add(3)
print(s)

{2, 3, 5}

In [16]:
#remove an element from set():
s={3,4,5}
x=4
s.remove(x)
print(s)

{3, 5}

In [19]:
# remove x from set s if present. if element not existing. does'nt throw anyerror. it just keep quite
s={3,4,5}
x=99
s.discard(x)
print(s)

{3, 4, 5}

In [26]:
#remove an element from set():
s={1,4,6,7}
print(s)
s.pop()
print(s)

{1, 4, 6, 7}
{4, 6, 7}

In [27]:
s1 = {4,5,2,1}
s2 ={7,8,5,6}
s1.update(s2)
print(s)
#update function adds all the elements in s2 to s1

{4, 6, 7}

In [28]:
s = {'apple','banana','grape','orange'}
for i in s:
    print(i)

orange
banana
apple
grape

In [29]:
s = {'apple','cat','bat'}
print(s)
x,y,z = s
print(x,y,z)

{'bat', 'apple', 'cat'}
bat apple cat

In [30]:
s ={35,65,7,86,65}
print(s)

{65, 35, 86, 7}

hashing is the proces of translating the values into unique numbers. generally called as hash code. these numbers are utilized by other datastructures like set and dict to allocae a slot (bucket) in an array

In [1]:
a = {43,56,87,43,22,87,36}
print(a)

{36, 43, 22, 87, 56}

In [ ]:
22,43,36,87,56

In [2]:
b = {35,92,51,35,42,92}
print(b)

{51, 42, 35, 92}

In [3]:
c = {25,82,41,25,32,82}
print(c)

{32, 25, 82, 41}

- fastern(look-ups,) O(1)

searching operation (look up) is alays constant and mostly just involves one operation.we cannot access individual elements, as there is no fixed index, we can only check element existance

In [7]:
s = {35,6,92,42,77}
k = 42
print( k in s)

True

- relation between sets

In [9]:
#union of two sets: all the unique elements in the both sets
s = {3,4,5,6}
s2 = {5,9,6,8}
all=s.union(s2)
print(all)

{3, 4, 5, 6, 8, 9}

In [10]:
s = {3,4,5,6}
s2 = {5,9,6,8}
all=s |s2 # union = |
print(all)

{3, 4, 5, 6, 8, 9}

In [11]:
s = {3,4,5,6}
s2 = {5,9,6,8}
all=s.intersection(s2)
print(all)

{5, 6}

In [17]:
#intersection() function is eqivalent of appling & operator
s = {3,4,5,6}
s2 = {5,9,6,8}
common=s&s2 #intersection = &
print(common)

{5, 6}

In [16]:
#diff of two sets: Element which are present in one set but not in the other
s = {3,4,5,6}
s2 = {5,9,6,8}
diff=s.difference(s2) 
print(diff)

{3, 4}

In [19]:
s = {3,4,5,6}
s2 = {5,9,6,8}
diff=s2.difference(s) #diffrence = -
print(diff)

{8, 9}

### program 1
given customers who deposites the money, for the last three days

In [28]:
day1 = {1122, 1234, 1256, 1389}
day2 = {1134, 1256, 1399, 1455}
day3 = {1256, 1455, 1122, 1899}

print('customer who deposited on day 3 and day 1 but not on day 2:',(day1 & day3)- day2)

customer who deposited on day 3 and day 1 but not on day 2: {1122}

In [30]:
print('customer who did deposites all the three days:',day1&day2&day3)

customer who did deposites all the three days: {1256}

In [35]:
customers = (day1 & day2)|(day2&day3)|(day3&day1)
print('customers who deposits atleast 2 days out of 3 days:',customers)

customers who deposits atleast 2 days out of 3 days: {1256, 1122, 1455}

In [41]:
all_cust = day1 | day2 | day3
print('number of customers who did deposites:',len(all_cust))

number of customers who did deposites: 8

In [43]:
s1 = {3,4,5,6}
s2 = {5,6,4}
s3 = {8,7,9}

In [44]:
s1.isdisjoint(s3)

True

In [45]:
s2.issubset(s1)

True

In [46]:
s1.issuperset(s2)

True

In [47]:
s ={(1,2),(3,4),(1,2),(4,3),(2,1)}
print(s)

{(1, 2), (2, 1), (3, 4), (4, 3)}

In [48]:
l = [1,2]
s={[3,4],1,[2,1],[1,2],[4,3]}
print(s)

TypeError: unhashable type: 'list'

# Dictionary

In [ ]:
d = {'sunday':34, 'monday':32,'tuesday':33, 'wednsday':35, 'thursdsay':32, 'friday':35.1, 'saturday':33.6}

In [1]:
d ={}
print(d)

{}

In [2]:
d = dict()
print(d)

{}

In [3]:
#creating dict and intilizing with key value
d = {1:'one',2:'two',3:'three'}
print(d)

{1: 'one', 2: 'two', 3: 'three'}

In [5]:
d[1]

'one'

In [7]:
#adding key value pair to a dictionary
d[4] = 'four'

In [8]:
d

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [10]:
# value replacing
d[4] =  'char'

In [11]:
d

{1: 'one', 2: 'two', 3: 'three', 4: 'char'}

In [14]:
# accessing key does not exit
d[5]

KeyError: 5

In [20]:
d = {'orange':10,'apple':20,'banana':30,'grape':40}
print(d.get('orange'))

10

In [24]:
print(d.get('pineapple'))

None

In [26]:
#using in operator
d1 = {'orange':10,'apple':20,'banana':30,'peach':40}
key = 'grape'
print (key in d1)

False

In [29]:
print(d1.has_('peach'))

AttributeError: 'dict' object has no attribute 'has'

In [35]:
d2 = {'orange':10,'apple':20,'banana':30,'peach':40}
key = 'peach'
p = (d2.pop(key))#removing peach value
print(p)
print(d2)

40
{'orange': 10, 'apple': 20, 'banana': 30}

In [37]:
for x in d2:
    print(x)

orange
apple
banana

In [45]:
print(d2.keys())

dict_keys(['orange', 'apple', 'banana'])

In [47]:
print(d2.values())

dict_values([10, 20, 30])

In [49]:
d2.items()

dict_items([('orange', 10), ('apple', 20), ('banana', 30)])

In [50]:
for fruit,quantity in d2.items():
    print(fruit,quantity)

orange 10
apple 20
banana 30