# python analysis

In [1]:
x=20
y=30
x+y

50

In [2]:
234+134

368

In [3]:
100*13.4

1340.0

#### program:Birds and Coconut
- there is a small bird which can carry one third of its weight.if the bird weight is 60gms and a coconut is 1450 gms
- how many such birds are reqired to carry the coconut?

In [4]:
(1450/60/3)

8.055555555555555

In [5]:
1450/(60/3)#paranthesis is ised to change the order of evalution

72.5

In [6]:
1450.00/(60/3)

72.5

In [7]:
import math
math.ceil(1450.0/(60/3))#ceil it will give round function

73

In [8]:
(3+4+5)/2.0

6.0

In [9]:
(6*(6-3)*(6-4)*(6-5))**0.5

6.0

In [10]:
a=3
b=4
c=5
s=(a+b+c)/2.0
area=(s*(s-a)*(s-b)*(s-c))**0.5
print('area:',area)
s

area: 6.0

6.0

In [11]:
6*(6-3)*(6-4)*(6-5)

36

In [12]:
36**0.5

6.0

In [13]:
math.sqrt(36)#to finding out squareroot

6.0

#### there are 5-premitive datatypes in python
- int
- float
- str
- bool
- complex

In [14]:
x=20
print(x)
print(type(x))

20
<class 'int'>

In [15]:
x=2.0
print(x)
print(type(x))

2.0
<class 'float'>

In [16]:
x='Apple'
print(x)
print(type(x))

Apple
<class 'str'>

Now 'X" are become a str

In [17]:
x=True

In [18]:
type(x)

bool

In [19]:
x=2+3j
type(x)

complex

'x'can change its type dynamically, because of python memory model and labelling system

### program : AVG of three nums

In [20]:
a=2
b=4
c=5
s=a+b+c
avg=s/3 #sum of val/no of values
print('average=',avg)

average= 3.6666666666666665

In [21]:
import numpy as np
c=[2,20,23]
a=np.mean(c)
a

15.0

In [22]:
2+20+23

45

In [23]:
45/3

15.0

In [24]:
np.median(c)

20.0

### Reading from console:
- python2x: raw_input () is the function which is used to read the values from the keyboard. prompt string is optional
- python3x: input()

In [25]:
x=raw_input('enter value:')

NameError: name 'raw_input' is not defined

In [ ]:
x=input('enter:')

In [ ]:
x

In [ ]:
x=int(input('enter a value:'))

In [ ]:
x

In [ ]:
x=input('enter val:')

In [ ]:
x

In [ ]:
x=eval(input('values:'))

In [ ]:
x

In [ ]:
x=eval(input('values:'))

In [ ]:
x

In [ ]:
x=float(input('values:'))

In [ ]:
x

In [ ]:
x=float(input('values:'))

In [ ]:
x

In [26]:
x=int(input('enter x values:'))
y=int(input('enter y values'))
s=x-y
print('subtract=',s)

enter x values:56
enter y values23
subtract= 33

In [27]:
print(123,'honey',23.4,True)

123 honey 23.4 True

In [28]:
#new style of printing
x=4
y=5
z=x+y
print('{} plus {} is {} '.format(x,y,z))

4 plus 5 is 9

{  } is the place holder for a value we can add any text in between as above

In [2]:
x='Madan'
y='Bad'
z='Always'
print('{} is {} boy {} '.format(x,y,z))

Madan is Bad boy Always

                              or

In [41]:
print ('{2} plus {1} is {3}'.format(x,y,z))

IndexError: tuple index out of range

we can reorder the argument using their positional values in the format function
- x index is 0,
- y index is 1,
- z index is 2,
 and we can also use them multiple times

In [5]:
print('{5} plus {0} is {2} and {0} is even'.format(x,y,z))

IndexError: tuple index out of range

In [6]:
x=20
print(id(x))

140733035901280

In [7]:
x=30
print(id(x))

140733035901600

In [8]:
print(id(x))

140733035901600

In [9]:
y=30
print(id(y))

140733035901600

In [10]:
x=-5
y=-5
print(id(x)),id(y)

140733035900480

(None, 140733035900480)

In [11]:
x=257
y=257
print(id(x),id(y))

114496123120 114496126064

In [13]:
x='Apple'
y='Apple'
print (id(x),id(y))

114526873784 114526873784

# operators

operator perform an action on operator
X+Y
in the above expression + is operator , X and Y are operands.
python supports  7 types of operators

- arithematic
- relational 
- logical
- assignment
- bitwise
- membership
- identity

In [ ]:
Arithematic
addition +
subtraction -
division /
multiplication *
modulus %
Exponent **
Floor division //

In [15]:
a=5
b=4
a+b

9

In [16]:
a-b

1

In [17]:
a/b

1.25

In [18]:
a*b

20

In [21]:
14//2

7

In [22]:
7%5

2

In [23]:
5**3

125

In [24]:
Relational operators
==
!=
>
<
>=
<=

SyntaxError: invalid syntax (<ipython-input-24-1d4038989e41>, line 1)

In [26]:
x=20
y=20
print(x==y)

True

In [27]:
x=20
y=30
print(x==y)

False

In [28]:
x>y

False

In [29]:
x<y

True

In [30]:
x<=y

True

In [31]:
x>y

False

In [32]:
x>=y

False

In [33]:
x!=y

True

x <> y

In [ ]:
Logical operators

and logical and ->> both are true condition will true

or logical or ->> any two are non zero condition bcome true

not logical not->> used to reverse the logical state of its operand

In [37]:
x=20
y=30

In [38]:
(x>20)and(y%6==0)

False

In [39]:
(x>30)or(y%6==0)

True

In [40]:
not x>30

True

In [41]:
(not x>30) or (y%7==0)

True

## short hand assignment operator:
- =
- += Add AND
- -= substract AND
- *= Multiply AND
- /= Divide AND
- %= Modulus AND
- ** = Exponent AND
- //= Floor Division

In [1]:
x=20

In [2]:
x+=10

In [3]:
x

30

after execution of above two statemnts , x value becomes '30' .'+=' is short hand assignment operator.
- that means "x+=10" is Equivalent to "x=x+10"

In [4]:
x=7
y=4
x%=y #it takes modlus and operator it takes left operand
print(x)

3

In [9]:
x=7
y=4
x //=y
print(x) # 4) 7 (1
#             4
#            ___
#             0

1

# # bitwise operator
it is used to manipulate values at bit and byte level
- & Binary AND 
- | Binary OR
- ^ Binary XOR
- ~ Binary Ones Component
- << Binary Left Shift
- .>.> Binary Right Shift

In [11]:
x=0b10100
x

20

In [13]:

x=0o4526
x

2390

In [14]:
x=0xAB2F
x

43823

In [15]:
x=20
x<<3#leftshift

160

In [16]:
x

20

In [17]:
x=160
x>>3 #rightshift

20

In [18]:
x

160

### note:- when x is shifted n times to the right side, it value becomes, 
- X/2^n #n=3
- 160/2*2*2
- 160/8
- 20 ans

## number  system conversion functions
we can get string representation of a number in any hexa decimal, octal and binar number systems using the following functions
- bin()
- hex()
- oct()

In [19]:
bin(2345)

'0b100100101001'

In [23]:
hex(0o234)

'0x9c'

In [24]:
oct(0xea)

'0o352'

- note all the above function returns string not numbers

In [26]:
import sys
x=2**1234567
y=20

print(sys.getsizeof(x),sys.getsizeof(y))#it gives no of values allocated to a value

164636 28

In [27]:
#we can represent infinity in python
x=float("inf")

In [28]:
#'x' is holding infinity here
y=float("-inf")

In [29]:
#'y' is -ve infinity
2 ** 1234567 < x

True

In [30]:
# anything is lessthan + infinity
y<2 ** 1234567

True

In [31]:
x==x

True

In [32]:
#bitwise AND:
x=0b1010
y=0b1100
bin(x&y)

'0b1000'

In [33]:
#Bitwise OR:
x=0b1010
y=0b1100
bin(x|y)

'0b1110'

In [34]:
#complement
x=1
~x

-2

In [35]:
x=15
~x

-16

In [36]:
x=234
~x

-235

In [37]:
x=0b1010
y=0b1100
bin(x^y)

'0b110'

# bitwise short hand asssignment operator
  - <<=,  >>=,   &=,    |=,    ^=
 - x<<=n is equivalent of x=x<<n

## membership operators
- in 
- not in

In [38]:
s1='Hello world!'
s2='Hell'
s2 in s1

True

In [41]:
' ' in '+*$%^ @'

True

In [42]:
' ' in '+*$%^@'

False

In [43]:
"world" in "s1"

False

In [44]:
"madan " in "sai"

False

In [45]:
"xyz" in "s1"

False

In [49]:
"xyz" not in s1

True

In [50]:
"madan" not in "india"

True

In [51]:
"sai" not in "sai"

False

# identity operators
- is
- isnot

In [52]:
s1='hello'
s2='day'
s3="howru"

In [54]:
print(id(s1),id(s2),id(s3))

140689374794160 140689448580784 140689374794928

In [56]:
print(s1 is s2)

False

In [57]:
print(s2 is s1)

False

In [58]:
print(s2 is not s3)

True

In [59]:
x=25

y=25
print(id(x),id(y))

93974124291616 93974124291616

In [60]:
x is y

True

In [61]:
x=2.3
y=2.3
id(x),id(y)

(140689375111056, 140689375112976)

In [62]:
x is y

False

In [63]:
x is not y

True

In [64]:
c1=2+3j

In [65]:
c2=2+3j

In [66]:
c1 is c2

False

In [67]:
c1 == c2

True

## Key words in python

In [68]:
import keyword as kk
print(kk.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [69]:
1450/60/3

8.055555555555555

In [70]:
x=25
y=25
id(x)==id(y)

True

In [73]:
x=input("enter value:")
y=input('enter value:')
(x+y)

enter value:29
enter value:45

'2945'

# Exercise

In [33]:
# 1 programto calculate compound interset when principle rate and number of periods are given
import time

def compound_interest(principle,rate,time):
    result=principle*(pow((1+rate/100),time))
    return result

p=float(input("Enter the principle amount:"))
r=float(input("Enter the interest rate:"))
t=float(input("Enter the time in years:"))

amount=compound_interest(p,r,t)
interest=amount - p

print("compond amount is %.2f"%amount)

print("compond inerest is %.2f"%interest)

Enter the principle amount:10000
Enter the interest rate:12
Enter the time in years:1
compond amount is 11200.00
compond inerest is 1200.00

In [6]:
#2 program to convert given seconds to hous and minutes
import time
seconds=time.time()
print(seconds)
minutes=seconds/60
print(minutes)
hours=minutes/60
print(hours)
days=hours/24
print(days)
week=days/7
print(week)

1573705284.3713331
26228421.406188887
437140.3567698148
18214.181532075618
2602.0259331536595

In [8]:
import time
second=time.time()
year=second/60/60/24/365.25
print(year)

49.86771636346135

In [34]:
#3 read name and address,email,and phone number of a person through keyword and print the details
def personal_details():
    name,age='madan',21
    address="Andhra pradesh,Guntur,india"
    print("Name:{}\nAge:{}\nAddress:{}".format(name,age,address))
personal_details()

Name:madan
Age:21
Address:Andhra pradesh,Guntur,india

In [36]:
#4 given coordinate (x1,y1),(x2,y2) find distance b/w two points
x1,y1=(3,4)
x2,y2=(7,7)
print((x1,y1),(x2,y2))

(3, 4) (7, 7)