# string
- string is a collection characters
- any pair of quotes can be used to represent a string. a 'single quotes' or " multiple quotes"
- string are immutable , we cannot add, delete , modify individuals charactrs in a string.
- it allows indexing

In [1]:
s= 'apple'
s="apple"
s='''apple is sweet
   orange is sour
'''
s="jhons's byke"

In [2]:
s

"jhons's byke"

In [3]:
s="apple"
s[0]

'a'

In [4]:
s[2]

'p'

In [5]:
s[1]

'p'

In [6]:
print(id(s[0]),id(s[1]),id(s[2]))

140024668650416 140024668640368 140024668640368

in the above example 'p' is stored only once and it reference is placed two times , at index 1

In [7]:
len(s)

5

In [8]:
s="Madanmaram"
print(len(s))

10

### strings are immutable
- we can change individual characters
- we cannot add or delete characters

In [9]:
s[4]='x'# we cannot do modifications

TypeError: 'str' object does not support item assignment

In [ ]:
print(s[10])# we cannot add or delete

## string slicing
- slicing is the technique of extracting sub string or a set of characters from a string
- syntax:
   string[start:end:step]

In [10]:
s="Hello World"
s[6:11]

'World'

In [11]:
s[1:5]

'ello'

In [12]:
s[:4]

'Hell'

In [13]:
s[4:]

'o World'

In [14]:
s[1:9]

'ello Wor'

In [15]:
s[1:9:1]

'ello Wor'

In [16]:
s[1:9:2]

'el o'

In [17]:
s[:10:3]

'HlWl'

In [20]:
s[:]

'Hello World'

In [21]:
s[::]

'Hello World'

In [22]:
s[::2]#indexing produces is 0,2,4,6,8,10

'HloWrd'

In [23]:
s[::-1]#reverse order

'dlroW olleH'

In [24]:
s[9:2]

''

In [25]:
s[9:2:-1]

'lroW ol'

In [26]:
#negetive indexing
s[-1]

'd'

In [27]:
s[-2]

'l'

In [28]:
s[-9:-3]

'llo Wo'

In [29]:
s[-3:-10]

''

In [30]:
s[-3:-10:-1]

'roW oll'

In [31]:
s[-4:-1:1]

'orl'

In [32]:
s[-2:-10:-1]

'lroW oll'

In [33]:
s[3::-1]#it gives reverse from 3 index to back

'lleH'

In [34]:
s[:3:-1]

'dlroW o'

In [35]:
s="hello world! 123$"

In [36]:
s.capitalize()# only first letter

'Hello world! 123$'

In [37]:
s

'hello world! 123$'

In [39]:
#count no of chars
s.count('o')

2

In [40]:
s.count('hell')

1

In [41]:
s.upper()

'HELLO WORLD! 123$'

In [42]:
s.lower()

'hello world! 123$'

In [44]:
s.endswith("5$")

False

In [45]:
s.endswith("3$")

True

In [46]:
s.startswith("hello")

True

In [47]:
s.startswith("Apple")

False

In [48]:
s="alpha123"
s.isalpha()

False

In [49]:
s="Apple"
s.isalpha()

True

In [1]:
s='1234'
s.isalpha()

False

In [2]:
s='apple'
s.isalpha()

True

In [1]:
s="2394"
s.isdigit()

True

In [3]:
#replace all the occurances of substring in target string
s='apple'
s.replace('p','$')
print(s)

apple

In [4]:
s='apple'
s=s.replace('p','$')
print(s)

a$$le

In [5]:
s='apple'
s1=s.replace('app','tupp')
print(s1,s)

tupple apple

# strip()
- strip spaces on both thesides of the string. we can pass any custome chars/substrings if wwe want to strip. below are the example

In [8]:
s=' Apple '
len(s)

7

In [11]:
#strip removes the spaces on both sides
s=s.strip()
len(s)

5

In [16]:
s=' apple'

print(len(s))
s=s.lstrip()
print(len(s))

6
5

In [19]:
s='apple '

print(len(s))
s=s.rstrip()
print(len(s))

6
5

In [24]:
s='ApApTUPLE'
s.strip('Ap')

'TUPLE'

In [28]:
s='ApAbTUPLE'
s.strip('Ap')

'bTUPLE'

split(): splits entire string into multiple words seperated by spaces. we can pass custom sperators if want to

In [33]:
s="Apple is a fruit"
l=s.split('is')
print(l,type(l))

['Apple ', ' a fruit'] <class 'list'>

In [34]:
date='12/02/1991'
l=date.split('/')
print(l)
type(l)

['12', '02', '1991']

list

In [35]:
l[0]

'12'

In [52]:
date='12/02/1991'
l=date.split('/',1)
print(l)

['12', '02/1991']

In [53]:
date='12/02/1991'
l=date.rsplit('/',1)
print(l)
print(l[-1])

['12/02', '1991']
1991

In [56]:
s='''once upon a time in india , there was a king called tippu.
india was a great country'''
print(s.find('india'))
print(s.find('madan'))

20
-1

# rfind():searching from the end

In [58]:
#r find is searching from the end .it means r=reverse find
s.rfind('india')

59

In [61]:
s.index('india')

20

In [62]:
s.index('madan')

ValueError: substring not found

In [70]:
print(s[s.find('great'):])# it wil print after great the word in the above

great country

In [71]:
l=['a','p','p','l','e']
print(''.join(l))

apple

In [81]:
l=['apple']
print(''.join(l))

apple

In [89]:
l=['a','p','p','l','e']
print(':'.join(l))

a:p:p:l:e

In [88]:
l=['a','p','p','l','e']
print('|'.join(l))

a|p|p|l|e

In [90]:
emp_data=['1234','jhony','2345.0','chicago']
print(''.join(emp_data))

1234jhony2345.0chicago

In [91]:
s='apple'
print(list(s))

['a', 'p', 'p', 'l', 'e']

In [ ]:
# reverse the order 'india' in-place the below string

In [92]:
s='''once upon a time in india , there was a king called tippu.
india was a great country'''
word='india'
s.replace(word,word[::-1])

'once upon a time in aidni , there was a king called tippu.\naidni was a great country'

In [93]:
word='madan'
word[::-1]

'nadam'

In [102]:
s='''once upon a time in india , there was a king called tippu.
india was a great country'''
s.count('a')+s.count('e')+s.count('i')+s.count('o')+s.count('u')

29

In [109]:
len(s)

84

In [110]:
'apple'*3

'appleappleapple'

In [111]:
'apple'+'orange'

'appleorange'

In [3]:
def area(a,b,c):
    s=(a+b+c)/2.0
    res=s*(s-a)*(s-b)*(s-c)
    return res ** 0.5

SyntaxError: invalid syntax (<ipython-input-3-3d1469d5e5f5>, line 5)

In [4]:
s="hello world"
print(s[1:9:2])

el o

In [5]:
s='hello world!'
print(s[3:-1])

lo world

In [49]:
t1=[1,4,3,2,6,5,4,7,8,6,7,6]
t1.count(6)

3

In [50]:
t1.index(4)

1

In [54]:
t1.index(6,5,len(t1))#here 5 means after 5 words refer python book by naveen

9

In [59]:
t1.index(6,10,len(t1))

11

In [60]:
print('a,p,p,l,e,2,3,4'.upper())

A,P,P,L,E,2,3,4

In [7]:
m='madansai'
print(m[::-1])

iasnadam

In [35]:
#Exercise 1
a=['a','p','p','l','e']
print("'",','.join(a),"'")

' a,p,p,l,e '

In [122]:
# Exercise 2
#remove the given word in all places in a string
a=['v','i','v','e','k','a','n','a','n','d','a']
for i in a:
    a.remove(i and 'a')
    print(a)

['v', 'i', 'v', 'e', 'k', 'n', 'a', 'n', 'd', 'a']
['v', 'i', 'v', 'e', 'k', 'n', 'n', 'd', 'a']
['v', 'i', 'v', 'e', 'k', 'n', 'n', 'd']

ValueError: list.remove(x): x not in list

In [126]:
#2
s='vivekananda'
print(s.replace('a',''))

viveknnd

In [137]:
s='11234567543245643dfghjkljhgfdfghjkfdghjkljhgf'
print(s.replace('k',''))

11234567543245643dfghjljhgfdfghjfdghjljhgf

In [138]:
s='vivekananda'
print(s.translate({ord('a'):None}))

viveknnd

In [107]:
a=['sai','maram','madan']
for i in a:
    print(i)

sai
maram
madan

In [108]:
for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [120]:
def s(self):
    sentence=' hello apple '
sentence.strip()

NameError: name 'sentence' is not defined

In [119]:
sentence()

NameError: name 'sentence' is not defined