## strings 

multiple quotes and multiple lines
- string is a collection of characters
- any pair of quotes can be used to represent a string
- strings are immutable, we cannot add, delete, modify individual charactersin a string

In [3]:
s = 'apple'
S = "apple"

s = ''' apple is sweet,
orange is sour'''

s= """apple is sweet,
orange is sour"""

s = "jhon's byke"

In [2]:
s = 'apple'

In [5]:
s = 'apple'
print (s[0], s[1], s[2])

a p p

In [7]:
# internal representation of a string
print(id(s[0]), id(s[1]), id(s[2]))

140354747743024 140354747732912 140354747732912

- in the above example, p is stored only once and its reference adress is placed two times

In [9]:
s = "Hello world!"
print(len(s))

12

In [10]:
s = '"sai"'
s

'"sai"'

In [11]:
s[2] = 'x'
# we cannot change individual chars
#we cannot add or delete chars

TypeError: 'str' object does not support item assignment

In [12]:
print(s[100])

IndexError: string index out of range

#### string slicing
slicing the technique of extracting sub string or a set of characters from a string

syntax:
    
    string[strat:end:step]
- strat: index start at which slicing is started
- end : index at which slicing is ended , end index is exclusive
- step : step value is with which start value gets incremented/decremented

note:default step value is 1.

In [126]:
s = "Hello world!"
s[6:11]

'world'

In [16]:
s[1:5]

'ello'

In [17]:
s[:4]

'Hell'

In [18]:
s[4:]

'o world!'

In [19]:
s[1:9]

'ello wor'

In [20]:
s[1:9:1]

'ello wor'

In [127]:
s

'Hello world!'

In [22]:
s[1:9:2]

'el o'

In [23]:
s[:10:3]

'Hlwl'

In [24]:
s[:]

'Hello world!'

In [25]:
s[::]

'Hello world!'

In [26]:
s[::2]

'Hlowrd'

In [27]:
s[9:2]

''

In [28]:
s[9:2:-1]

'lrow ol'

In [29]:
s = 'welcometoworld'

In [30]:
s[-1]

'd'

In [31]:
s[-2]

'l'

In [32]:
s[-9:-3]

'metowo'

In [36]:
s[:-8]

'welcom'

In [38]:
s[-1:]

'd'

In [39]:
s[::]

'welcometoworld'

In [40]:
s[::2]

'wloeool'

In [41]:
s[-3:-10:-1]

'rowotem'

In [42]:
s[-4:-1:1]

'orl'

In [43]:
s[-2:-10:-1]

'lrowotem'

In [44]:
#reversing a string
s[::-1]

'dlrowotemoclew'

In [45]:
s[3::-1]

'clew'

In [46]:
s[:3:-1]

'dlrowotemo'

In [47]:
s = 'hello world! 123$'

In [50]:
s.capitalize()

'Hello world! 123$'

In [51]:
s

'hello world! 123$'

In [52]:
s.count('l')

3

In [53]:
s.count('hell')

1

In [54]:
s.upper()

'HELLO WORLD! 123$'

In [55]:
s.lower()

'hello world! 123$'

In [57]:
s.endswith('3$')

True

In [58]:
s.endswith('5$')

False

In [59]:
s.startswith("hello")

True

In [60]:
s.startswith("world")

False

In [61]:
s = 'apple123'
s.isalpha()

False

In [62]:
s = "2314"
s.isdigit()

True

In [63]:
s = 'apple'
s.replace('p','$')
print(s)

apple

In [64]:
s = 'apple'
s = s.replace('p','$')
print(s)

a$$le

In [67]:
s = 'app-le'
s1 = s.replace('app','tupp')
print(s1)

tupp-le

In [ ]:
#strip():strip spaces on both the sides of the string. we can pass any custlom chars/substrings
#strip remove spaces and whatever we mention it will remove

In [70]:
s = ' apple '
print(len(s))
s = s.strip()
print(len(s))

7
5

In [71]:
s = ' apple'
print(len(s))
s = s.lstrip()
print(len(s))

6
5

In [72]:
s = 'apple '
print(len(s))
s = s.rstrip()
print(len(s))

6
5

In [73]:
s = 'apaptuple'
s.strip('ap')

'tuple'

In [ ]:
#split(): splits entire string into multiple words seperate by spaces. 
#we can pass custom separators if want to

In [74]:
s= 'apple is a fruit'
l = s.split()
print(l,type(l))

['apple', 'is', 'a', 'fruit'] <class 'list'>

In [79]:
date = '12/02/1984'
l = date.split('/')
print(l)

['12', '02', '1984']

In [77]:
l[0]

'12'

In [81]:
date = '12/02/1984'
l = date.split('2')
print(l)

['1', '/0', '/1984']

In [82]:
date = '12/02/1984'
l = date.split('/',1)
print(l)

['12', '02/1984']

In [86]:
date = '12/02/1984'
l = date.split('/',1)
print(l)
print(l[-1])

['12', '02/1984']
02/1984

In [84]:
date = '12/02/1984'
l = date.rsplit('/',1)
print(l)
print(l[-1])

['12/02', '1984']
1984

In [97]:
s = '''once upon a time in india , there was a king called tippu. india was
a great country'''

print(s.find('india'))
print(s.find('pakistan'))

20
-1

- rfind(): searching from the end

In [89]:

s.rfind('india')

59

In [91]:
s.index('india')

20

In [92]:
s.index('pakistan')

ValueError: substring not found

In [95]:
#printing string from the word 'king'
s = '''once upon a time in india , there was a king called tippu. india was
a great country'''

print(s[s.find('great'):])

great country

In [99]:
x = ['a','p','p','l','e']
print(''.join(x))

apple

In [101]:
x = ['a','p','p','l','e']
print('|'.join(l))

a|p|p|l|e

In [102]:
emp_data = ['1234','jhon','234.0','chicago']
print(','.join(emp_data))

1234,jhon,234.0,chicago

In [103]:
s = 'apple'
print(list(s))

['a', 'p', 'p', 'l', 'e']

- Program

reverse the word 'india' in-place in the below string

In [116]:
s = '''once upon a time in india , there was a king called tippu. india was
a great country'''

word = 'india'

s.replace(word,word[::-1])

'once upon a time in aidni , there was a king called tippu. aidni was\na great country'

- program

count all the vowels in the given string

In [122]:
s = '''once upon a time in india , there was a king called tippu. india was
a great country'''
s.count('a')+s.count('e')+s.count('i')+s.count('o')+s.count('u')

29

In [124]:
#scalar multiplication
'apple'*3

'appleappleapple'

In [125]:
#concatenating strings
'apple' + 'orange'

'appleorange'